<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <title>Task application</title>
</head>
<body>
<h1>Person List</h1>
<a href="addUser">Add Person</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>---id---</th>
            <th>-Password-</th>
            <th>-Email-</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td th:utext="${user.id}">...</td>
            <td th:utext="${user.password}">...</td>
            <td th:utext="${user.email}">...</td>
        </tr>
    </table>
</div>
</body>
</html>
